body {
  background-color: black;
}
.container {
  width: 375px;
  font-family: "Open Sans", sans-serif;
  color: white;

  padding: 20px;
}
.search-form-input {
  border-radius: 50px;
  border: none;
  font-size: 10px;
  padding: 5px 10px 5px 5px;
  opacity: 0.6;
}
.submit-button {
  border-radius: 50px;
  border: none;
  font-size: 10px;
  padding: 5px 10px;
  margin-left: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  display: none;
}
.submit-button:hover {
  background-color: white;
}
.weather-time {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin: 20px 0 0 0;
}
h1 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
}

.display-temperature {
  display: flex;
  align-items: flex-start;
}
h2 {
  font-weight: bold;
  font-size: 60px;
  margin: 0;
}

.c {
  font-size: 18px;
  font-weight: normal;
  margin-top: 23px;
}
.current-img {
  width: 80px;
  height: 80px;
}
.description {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 10px;
}

.forecast-weathers {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 250px;
  font-size: 15px;
}
.forecast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.forecast-day {
  font-size: 13px;
}
.forecast-icon {
  width: 50px;
}
.forecast-temp {
  font-size: 13px;
}

@media (min-width: 600px) {
  body {
    background-color: rgb(40, 40, 40);
  }

  .container {
    width: 600px;
    background-color: black;
    margin: 100px auto;
    padding: 50px;
    border-radius: 15px;
  }

  .search-form {
    text-align: center;
  }
  .search-form-input {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 15px;
    margin-right: 20px;
  }
  .submit-button {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 15px;
  }

  .weather-time {
    font-size: 20px;
  }
  .city {
    font-size: 36px;
    font-weight: bold;
  }
  .current-weather-details {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
  }
  .current-display-temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather-time {
    margin: 0;
  }

  .current-img {
    width: 80px;
    height: 80px;
  }
  .forecast-img {
    width: 60px;
    height: 60px;
  }
  .description {
    margin: 0;
  }

  .forecast-weathers {
    height: 100px;
    margin: 0 50px;
  }
}
